@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @await Html.PartialAsync("Partials/_NavForm")
    <div class="row text-center">
        <h2 class="display-4">¡Conozca nuestra lista de chefs!</h2>
        <hr>
    </div>
    <div class="row table-responsive">
        <table class="table table-striped table-bordered ">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <th scope="col">N° de Platos</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.checa)
                {
                    int edad = DateTime.Now.Year - item.Age.Year;
                    <tr>
                        <td>@item.Name @item.Apellido</td>
                        <td>@edad</td>
                        <td>@item.CreatedDishes.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
